.dateButton {
    width: 2em;
    height: 2em;
}
.deleteCardButton {
    width: 2em;
}
.deleteCardButtonIsHot {
    background: #F00;
}
.mainPanel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

#addNewCardButton {
    width: 100%;
    box-sizing: border-box;
}
#dateButtonBack {
    float: left;
}
#dateForwardBack {
    float: right;
}
#dateControls {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
}
#dayHeader {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 1em;
    width: calc(100% - 4em);
}