button {
    font-size: 5vw;
}
select {
    font-size: 5vw;
    width: 100%;
}
.dateButton {
    width: 2em;
    height: 2em;
}
.deleteCardButton {
    width: 2em;
}
.deleteCardButtonIsHot {
    background: #F00;
}
.deleteCardTd {
    width: 15%;
}
.groupSelectTd {
    width: 70%;
}
.indexSelectTd {
    width: 15%;
}
.mainPanel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.oldCardDiv {
    width: 100%;
    box-sizing: border-box;
    font-size: 3.5vw;
}

#addNewCardButton {
    width: 100%;
    box-sizing: border-box;
}
#dateButtonBack {
    float: left;
}
#dateForwardBack {
    float: right;
}
#dateControls {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
}
#dayHeader {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 6vw;
    text-align: center;
    margin-bottom: 1em;
    width: 40vw;
}